@media (max-width: 600px) {
  td {
    border-bottom: unset !important;
  }
  tr {
    border-bottom: 1px solid lightgray !important;
  }

  tr, th{
    position: relative !important;
  }
}




.tooltip{
  background-color: gray !important;
  color:white !important;
}
